{% extends 'base.html' %}

{% block content %}
<section class="text-gray-600 w-3/4 body-font">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
{#    <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://dummyimage.com/150x200">#}
    <div class="text-center lg:w-2/3" style="width: 65%;">
      <p class="mb-8 leading-relaxed"><span class="100">{{ blogs.description | safe }}</span></p>
      <div class="flex justify-center">
      </div>
    </div>
  </div>



{% endblock content %}